.homepage {
   margin-top: 7rem;
}

.create-note__btn-wrapper {
   display: flex;
   justify-content: center;
}

.create-note__modal .modal-content,
.update-note__modal .modal-content {
   background-color: rgb(255, 193, 7);
   color: black;
   border-radius: 0;
}

.modal-header {
   border-color: black;
}

.modal-footer {
   border-color: black;
}